@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
  width: 100vw;
  height: 50px;
  background-color: aquamarine;
}

body {
margin: 0;
padding: 0;
}

.footer {
   width: 100vw;
  height: 50px;
  background-color: black;
}

